.judul {
    color: white;
    font-weight: bold;
    text-align: center;
    font-size: 42px;
    margin-top: 15%;
}

.judulbox {
    margin-top: 15px;
    background-color: brown;
    border-radius: 15px;
    padding: 25px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 200px;
}

.judulbox:hover {
    background-color: orange;
}
.judul a {
    color: white;
    font-weight: normal;
    font-size: 20px;
}

.box-login {
    margin-left: 32%;
    margin-right: 32%;
    padding: 30px;
    background-color: #2A629A;
    margin-top: 3%;
    box-shadow: 1px 1px 5px;
}

.box-login p {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.login {
    text-align: center;
    color: white;
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.btn {
    border-style: none;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    color: white;
    background-color: #DC5F00;
    width: 120px;
    border-radius: 15px;
    margin-top: 10px;
}

.btn:hover {
    background-color: orange;
}

.acc-sign {
    text-align: center;
    margin-top: 20px;
}

.acc-sign a {
    color: white;
}

.acc-sign a:hover {
    color: black;
}

.box-sistem {
    background-color: white;
    box-shadow: 2px 2px 6px;
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    padding: 30px;
    margin-top: 20px;
}

.box-signup {
    margin-left: 32%;
    margin-right: 32%;
    padding: 30px;
    background-color: #2A629A;
    margin-top: 3%;
    box-shadow: 1px 1px 5px;
}

.box-signup p {
    font-size: 34px;
    text-align: center;
    font-weight: bold;
    color: white;
}

.signup {
    text-align: center;
    color: white;
    font-size: 20px;
}

input[type=text], input[type=password], input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    padding: 0;
}
/* style navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2a6296;
    padding: 10px 20px;
}

.navbar .logo a {
    color: white;
    font-size: 24px;
    text-decoration: none;
}

.navbar .menu a {
    color: white;
    margin-left: 20px;
    text-decoration: none;
}

.navbar .menu a:hover {
    text-decoration: underline;
}

/*  style home */
.home {
    margin-top: 50px;
    align-items: center;
}

.home .logo-large {
    max-width: 600px;
    height: auto;
    margin-left: 350px;
    margin-right: 250px;
    align-items: center;
    text-align: center;

}

.home p {
    font-size: 18px;
    margin-top: 20px;
    text-align: left;
    /* padding-left: 20px; */
}

.home-content .deskripsi {
    font-size: 50px;
    font-family: 'DM Srif Display';
    color: #2a6296;
    justify-content: center;
    text-align: center;
    font-weight: 700;

}

.tbl-pink {
    display: flex;
    padding: 10px 20px;
    background-color: #2a6296; 
    color: white;
    text-decoration: none; 
    border-radius: 18px; 
    font-size: 16px; 
    font-weight: bold; 
    transition: background-color 0.3s ease; 
    text-align: center;
    justify-content: center;
    margin: auto;
}

.tbl-pink:hover {
    background-color: #2a6296 
}
